# DigitalOcean API token
do_token = "your_token"

# DigitalOcean ssh-keyid
# ssh_keys = [ "your_key_id" ]
# Retrieve using (max 200 keys in account): `curl -s -X GET -H "Content-Type: application/json" -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" "https://api.digitalocean.com/v2/account/keys?per_page=200"  | jq -r '.ssh_keys[] | select(.name=="YOUR_KEY_NAME") | .id'`            
# If you have more than 200 keys in your account, use: `doctl -t $DIGITALOCEAN_TOKEN compute ssh-key list | grep YOUR_KEY_NAME | awk '{ print $1 }'`                                                                                                                                 
# If this is not specified, you will get an email with the root password
ssh_keys = []

# Resources will be prefixed with this to avoid clashing names
prefix = "myname"

# rancher/rancher image tag to use
rancher_version = "v1.6.25"

# Region where server should be created
region_server = "lon1"

# Region where agent(s) should be created
region_agent = "lon1"

# Count of agent nodes for cattle environment
count_agent_cattle_nodes = "1"

# Count of agent nodes for kubernetes environment
count_agent_kubernetes_nodes = "1"

# Docker version of host running `rancher/server`
docker_version_server = "17.03"

# Docker version of host being added to an environment (running `rancher/agent`)
docker_version_agent = "17.03"

# Droplet size for rancher/server
size = "s-2vcpu-4gb"

# Droplet size for hosts in cattle environment
cattle_size = "s-2vcpu-4gb"

# Droplet size for hosts in kubernetes environment
kubernetes_size = "s-2vcpu-4gb"

# Image of host running `rancher/rancher`
image_server = "ubuntu-16-04-x64"

# Image of host being added to a cluster (running `rancher/rancher-agent`)
image_agent = "ubuntu-16-04-x64"
